@page "/Sweetener"
@inject IDataService Sweet

<PageTitle>Sweetener Menu</PageTitle>
<h2 class="text-center mt-3 mb-5" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:darkblue"><b>Sweetener Menu</b></h2>

@if (updSweet == true)
{

	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@message
		<button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseUpdateWarning" aria-label="Close"></button>
	</div>
}

@if (warning == true)
{

	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		@warningMessage
		<button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseErrorWarning" aria-label="Close"></button>
	</div>
}

@if (addSweet == true)
{

	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@message
		<button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseAddWarning" aria-label="Close"></button>
	</div>
}

@if (delSweet == true)
{

	<div class="alert alert-primary alert-dismissible fade show" role="alert">
		The sweetener has been deleted
		<button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseDeleteWarning" aria-label="Close"></button>
	</div>
}

<div class="container-fluid" style="width: 80rem;">
	<table class="table table-bordered table-hover table-striped mb-5">

		<thead>
			<tr>
				@foreach (var h in Headings)
				{
					<th scope="col"><b>@h</b></th>
				}
			</tr>
		</thead>
		<tbody>

			@foreach (var item in sweetener)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.SweetenerName</td>
					<td>@item.SweetenerPrice</td>
					<td>@item.SweetenerDescription</td>
					<td>@item.DisableData</td>

					<td>
						<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="()=>ShowDeleteDialog(item.Id)">
							Delete
						</button>
					</td>
					<td> <button type="submit" class="btn btn-info btn-sm" @onclick="()=>UpdateSweetenerButton(item.Id)">Update</button></td>

					@if (item.DisableData)
					{

						<td> <button type="submit" class="btn btn-sm btn-success" @onclick="()=>SweetAvalability(item)">Disable</button></td>
					}
					else
					{
						<td> <button type="submit" class="btn btn-sm btn-danger" @onclick="()=>SweetAvalability(item)">Enable</button></td>
					}

				</tr>
			}

		</tbody>
	</table>
</div>

<button type="button" class="btn btn-primary  mb-10 mt-10" @onclick="AddSweetenerItam">Add Sweetener</button>

@if (DeleteDialog == true)
{
	<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
	 aria-modal="true" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete Dialog </h4>
					<button type="button" class="btn-danger" @onclick="@ModalCancel">&times;</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete the Sweetener? </p>
				</div>
				<div class="modal-footer flex-column">
					<button type="button" class="btn btn-primary" @onclick="DeleteSweetenerType">OK</button>
				</div>
			</div>
		</div>
	</div>
}

@if (displaySweetenerForm == true)
{
	<div class="container-fluid" style="width: 80rem;">
		<form>

			<AddSweetenerForm mySweet="NewSweet" />

			<button type="button" class="btn btn-primary mt-20" @onclick="AddSweetenerType">Add</button>

		</form>
	</div>
}

@if (updateDialog == true)
{
	<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
	 aria-modal="true" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Dialog </h4>
					<button type="button" class="btn-danger" @onclick="@ModalCancel">&times;</button>
				</div>
				<div class="modal-body flex-column">

					<AddSweetenerForm mySweet="NewSweet" />

				</div>
				<div class="modal-footer flex-column">
					<button type="button" class="btn btn-primary" @onclick="UpdateKind">OK</button>
				</div>
			</div>
		</div>
	</div>
}
@code {
	List<SweetenerMenu> sweetener = new List<SweetenerMenu>();
	SweetenerMenu NewSweet = new SweetenerMenu();
	string[] Headings = { "ID", "Name", "Price", "Desicription", "Availability", "Delete", "Update", "Disable/Enable" };
	bool displaySweetenerForm;
	int SweetId;
	bool warning;
	string? warningMessage;
	string? message;
	bool addSweet;
	bool delSweet;
	bool updSweet;
	bool DeleteDialog;
	int deleteId;
	bool updateDialog;
	int updateId;

	public void AddSweetenerItam()
	{
		displaySweetenerForm = true;
		updateDialog = false;
	}

	public async Task AddSweetenerType()
	{
		if (!string.IsNullOrWhiteSpace(NewSweet.SweetenerName) && !string.IsNullOrWhiteSpace(NewSweet.SweetenerDescription) && NewSweet.SweetenerPrice > 0)
		{
			SweetId = await Sweet.CreateSweetener(NewSweet);

			if (SweetId == 0)
			{
				warning = true;
				warningMessage = "The name is already exist. Please insert a different name";

			}
			else
			{
				addSweet = true;
				message = "New sweetener has been added with Id number:" + " " + SweetId;

			}
		}
		else if (string.IsNullOrWhiteSpace(NewSweet.SweetenerName))
		{
			warning = true;
			warningMessage = "Please enter sweetener name";

		}
		else if (string.IsNullOrWhiteSpace(NewSweet.SweetenerDescription))
		{
			warning = true;
			warningMessage = "Please enter sweetener description ";
		}
		else if (NewSweet.SweetenerPrice == 0)
		{
			warning = true;
			warningMessage = "Please enter sweetener price ";
		}


		displaySweetenerForm = false;
		NewSweet = new();
		await OnInitializedAsync();

	}

	protected override async Task OnInitializedAsync()
	{
		sweetener = await Sweet.ReadSweetener();
		StateHasChanged();
	}

	public void ShowDeleteDialog(int id)
	{
		deleteId = id;
		DeleteDialog = true;
	}

	public async Task DeleteSweetenerType()
	{
		await Sweet.DeleteSweetener(deleteId);
		DeleteDialog = false;
		delSweet = true;
		await OnInitializedAsync();
	}

	public void ModalCancel()
	{
		DeleteDialog = false;
		updateDialog = false;

	}

	public async Task UpdateSweetenerButton(int id)
	{
		updateDialog = true;
		updateId = id;
		NewSweet = await Sweet.UpdateSweetener(id);
		displaySweetenerForm = false;
	}

	public async Task UpdateKind()
	{
		if (!string.IsNullOrWhiteSpace(NewSweet.SweetenerName) && NewSweet.SweetenerPrice > 0 && !string.IsNullOrWhiteSpace(NewSweet.SweetenerDescription))
		{
			await Sweet.UpdateSweetener(updateId);
			message = NewSweet.SweetenerName +" "+ "has been updated";
			updSweet = true;
		}
		else if (string.IsNullOrWhiteSpace(NewSweet.SweetenerName))
		{
			warning = true;
			warningMessage = "Please enter sweetener name";
			
		}
		else if (NewSweet.SweetenerPrice == 0)
		{
			warning = true;
			warningMessage = "Please enter sweetener price";
			
		}
		else if (string.IsNullOrWhiteSpace(NewSweet.SweetenerDescription))
		{
			warning = true;
			warningMessage = "Please enter sweetener desicription";
		}

		
		updateDialog = false;
	    await OnInitializedAsync();
		NewSweet = new();
	}

	public async Task SweetAvalability(SweetenerMenu T)
	{
		await Sweet.SweetenerChangeAvialability(T.Id);
	}

	public void CloseErrorWarning()
	{
		warning = false;

	}

	public void CloseDeleteWarning()
	{
		delSweet = false;
	}
	public void CloseAddWarning()
	{
		addSweet = false;
	}

	public void CloseUpdateWarning()
	{
		updSweet = false;
	}



}
